



header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(46, 47, 50);
}

.grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 800px;
    height: 800px;
}

.mode-select-container{
    display: flex;
    padding: 5px 0;
}

.mode-select-button{
    background-color: rgb(75,75,75);
    color: white;
}

.arrow-container{
    position: relative;
    pointer-events:none;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    pointer-events:none;
}

.debug-arrow-number{
    position: absolute;
    pointer-events: none;
    display: none;
    text-wrap: wrap;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}