



header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(46, 47, 50);
}

.grid{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 800px;
    height: 800px;
}

.mode-select-container{
    display: flex;
    align-items: stretch;
    padding: 5px 0;
}

.mode-select-button{
    background-color: rgb(75,75,75);
    color: white;
}

.arrow-container{
    position: relative;
}

.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events:none;
}

.debug-arrow-info{
    margin: 0;
    position: absolute;
    pointer-events: none;
    font-size: xx-small;
}

.debug-arrow-number{
    position: absolute;
    display: none;
    text-wrap: wrap;
}

.debug-arrow-number:hover{
    color: rgb(192, 44, 164);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.mouse-drag-point-visualizer{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgba(175, 175, 50, 0.2);
    border-radius: 50%;
    pointer-events: none;
}